{{#if index}}
<div class="modal fade" id="greeting-modal" tabindex="-1" aria-labelledby="greeting-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title fw-bold">歡迎光臨★打字遊戲★</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>您可以訪客身分進行遊戲體驗</p>
        <p>加入會員即可儲存遊戲紀錄並享有更多功能哦！</p>
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">暫時不要:O</button>
        <a href="/signup" class="btn btn-primary">註冊會員:D</a>
        <a href="/signin" class="btn btn-primary">會員登入XD</a>
      </div>
    </div>
  </div>
</div>
{{/if}}