FACEBOOK_ID=
FACEBOOK_SECRET=
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK=http://localhost:3000/oauth2/redirect/google
PORT=3000
SESSION_SECRET=