<p>WPM:<span class="WPM space">0</span>(38 to 40 in average)</p>
<p>Accuracy Rate:<span class="AR space">0</span>%</p>
<p>Timer:<span class="timer space">60</span>secs</p>
<div id="words"></div>
<p>Please press a random key if finished in time.</p>
<div class="below-section">
  <button id="reset">Reset</button>
  <button id="switch">Switch<br>Text</button>
  <div id="comment"></div>
</div>