<p>WPM:<span class="WPM space">{{wpm}}</span>(38 to 40 in average)</p>
<p>Accuracy Rate:<span class="AR space">{{ar}}</span>%</p>
<p>Timer:<span class="timer space">60</span>secs</p>
<div id="words"></div>
<p>Please press a random key if finished in time.</p>
<div class="typing-below-section">
  <button id="reset">Reset</button>
  <button id="switch">Switch<br>Text</button>
  <div id="comment">{{comment}}</div>
</div>
<form action="/singles/record" method="POST" hidden>
  <input type="text" name="wpm" id="wpm-input">
  <input type="text" name="ar" id="ar-input">
  <input type="text" name="comment" id="comment-input">
  <button type="submit" id="single-record-submit"></button>
</form>