<div class="rank-info mt-3 mx-auto">
  <h4 class="mb-3">積分排行:</h4>
  <table class="table table-light mb-4 text-center">
    <thead class="table-primary">
      <tr>
        <th class="col-2">Rank</th>
        <th class="col-2">Name</th>
        <th class="col-2">WPM</th>
        <th class="col-2">Accuracy Rate</th>
        <th class="col-2">Score</th>
        <th class="col-2">Time</th>
      </tr>
    </thead>
    <tbody>
      {{!-- {{#each}} --}}
      <tr>
        <td class="col-2 align-middle">1</td>
        <td class="col-2 align-middle">Kate</td>
        <td class="col-2 align-middle">66</td>
        <td class="col-2 align-middle">100 %</td>
        <td class="col-2 align-middle">660</td>
        <td class="col-2 align-middle">
          2023-9-16<br>09:00 AM
        </td>
      </tr>
      {{!-- {{/each}} --}}
      <tr>
        <td class="col-2 align-middle">2</td>
        <td class="col-2 align-middle">Daisy</td>
        <td class="col-2 align-middle">60</td>
        <td class="col-2 align-middle">99 %</td>
        <td class="col-2 align-middle">594</td>
        <td class="col-2 align-middle">
          2023-9-06<br>11:05 AM
        </td>
      </tr>
      <tr>
        <td class="col-2 align-middle">3</td>
        <td class="col-2 align-middle">Johnson</td>
        <td class="col-2 align-middle">51</td>
        <td class="col-2 align-middle">100 %</td>
        <td class="col-2 align-middle">510</td>
        <td class="col-2 align-middle">
          2023-9-11<br>00:29 AM
        </td>
      </tr>
    </tbody>
  </table>

  <h4 class="mb-3">本月活躍排行:</h4>
  <table class="table table-light mb-3 text-center">
    <thead class="table-primary">
      <tr>
        <th class="col-2">Rank</th>
        <th class="col-5">Name</th>
        <th class="col-5">Usage<span class="footnote">(打字次數)</span></th>
      </tr>
    </thead>
    <tbody>
      {{!-- {{#each}} --}}
      <tr>
        <td class="col-2 align-middle">1</td>
        <td class="col-5 align-middle">Kate</td>
        <td class="col-5 align-middle">301</td>
      </tr>
      {{!-- {{/each}} --}}
      <tr>
        <td class="col-2 align-middle">2</td>
        <td class="col-5 align-middle">Johnson</td>
        <td class="col-5 align-middle">295</td>
      </tr>
      <tr>
        <td class="col-2 align-middle">3</td>
        <td class="col-5 align-middle">Daisy</td>
        <td class="col-5 align-middle">13</td>
      </tr>
    </tbody>
  </table>
</div>