html {
  /* width: 100vw; */
  scrollbar-gutter: stable;
}

* {
  font-family: monospace;
  font-size: 16px;
}

.container {
  width: 64%;
  padding-top: 10px;
}

.alert {
  max-width: 500px;
}

p {
  margin: 14px 5px;
}

.space {
  display: inline-block;
  margin: 0 5px;
}

#words {
  height: 300px;
  margin: 0 5px;
  padding: 3px 5px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  line-height: 24px;
  color: #A0A0A0;
}

.correct {
  color: blue;
}

.wrong {
  color: red;
  background-color: yellow;
  text-decoration: underline;
}

.typing-below-section > button {
  display: inline-block;
  margin: 10px 5px;
  border: 3px outset;
  border-radius: 5px;
  line-height: 42px;
  font-size: 21px;
  font-weight: bold;
}

.typing-below-section > button:hover {
  cursor: pointer;
  background: #E0E0E0;
}

.typing-below-section > button:active {
  border: 2px outset;
}

.typing-below-section {
  display: flex;
  align-items: center;
}

#switch {
  margin-left: 12px;
  font-size: 18px;
  line-height: 21px;
}

#comment {
  margin-left: 20px;
  color: red;
  font-size: 21px;
  font-weight: bold;
}

.form-signin, .form-signup {
  max-width: 500px;
  border: 3px outset #80b0e0;
  border-radius: 5px;
}

.avatar {
  width: 100%;
}

.user-info > th, .user-info > td {
  width: 25%;
}

.denominator, .footnote {
  color: #878787;
}

.rank-info {
  max-width: 90%;
}

.form-account-edit {
  max-width: 85%;
}

input[type="file"]#avatar {
  width: 1px;
  height: 1px;
  display: none;
}

#introduction {
  height: 100px;
}

#preview-avatar {
  max-width: 150px;
  max-height: 150px;
}

#preview-avatar:hover {
  cursor: pointer;
  opacity: 0.5;
}

.img-section img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

textarea, .post-body > p, .reply-body > p, .user-intro {
  white-space: pre-wrap;
}

.created-time, .updated-time {
  font-size: 16px;
  color:#878787;
}

.post-body {
  margin-bottom: 50px;
}

.post-reply {
  border: 1px solid #878787;
}

.my-reply {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reply-owner > .img-section {
  max-width: 50px;
}

#edit-button, #delete-button {
  border: none;
  background: none;
}

#edit-button:hover {
  background-color: #495057;
  color: #ffffff;
}

#delete-button:hover {
  background-color: #c71c22;
  color: #ffffff !important;
}

.hidden {
  display: none;
}

/* .test {
  outline: 1px solid red;
} */